@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=PT+Sans:wght@400;500;700&display=swap');

html {
  font-family: 'Lora', serif;
  font-size: 16px;
}

button {
  font-family: 'PT Sans', sans-serif;
}

a {
  background-color: transparent;
  color: var(--lm-color-tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;
  margin-top: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 2.027rem;
  font-size: 2.488rem;
}

h2 {
  margin-top: 1.802rem;
  font-size: 2.074rem;
}

h3 {
  margin-top: 1.602rem;
  font-size: 1.728rem;
}

h4 {
  margin-top: 1.424rem;
  font-size: 1.44rem;
}

h5 {
  margin-top: 1.266rem;
  font-size: 1.2rem;
}

h6 {
  margin-top: 1.125rem;
  font-size: 1rem;
}

small {
  font-size: 75%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

p {
  line-height: 1.7rem;
}
