@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;500;700&family=Lato:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src:  url('../fonts/jetbrainsmono/JetBrainsMono-Regular.eot'); /* IE9 Compat Modes */
  src:  url('../fonts/jetbrainsmono/JetBrainsMono-Regular.woff2') format('woff2'); /* Super Modern Browsers */
  src:  url('../fonts/jetbrainsmono/JetBrainsMono-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  src:  url('../fonts/jetbrainsmono/JetBrainsMonoNL-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

pre,
code {
  font-family: "JetBrains Mono", "Monaco", monospace !important;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--lm-color-dark);
}

button {
  font-family: 'PT Sans', sans-serif;
}

a {
  background-color: transparent;
  color: var(--lm-color-tertiary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Serif', serif;
  margin-top: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.07rem;
}

h1 {
  margin-top: 2.027rem;
  font-size: 2.488rem;

  @media (max-width: 576px) {
    font-size: 2.1rem;
  }
}

h2 {
  margin-top: 1.802rem;
  font-size: 2.074rem;
}

h3 {
  margin-top: 1.602rem;
  font-size: 1.728rem;
}

h4 {
  margin-top: 1.424rem;
  font-size: 1.44rem;
}

h5 {
  margin-top: 1.266rem;
  font-size: 1.2rem;
}

h6 {
  margin-top: 1.125rem;
  font-size: 1rem;
}

small {
  font-size: 75%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

p,
ol,
ul,
blockquote {
  line-height: 2rem;
  font-size: 1.05rem;
  letter-spacing: 0.025rem;

  @media(max-width: 576px) {
    line-height: 1.7rem;
    font-size: 1rem;
  }
}

blockquote {
  border-left: 8px solid var(--lm-color-tertiary);
  padding: 0 1.2rem;
  margin: 1.7rem;

  @media (max-width: 768px) {
    padding: 0 1.2rem;
    margin: 1.7rem 0;
  }
}

.dropcap :not(li) {
  color: var(--lm-color-dark);
  font-family: 'PT Sans', sans-serif;
  float: left;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 2.6rem;
  margin: 0;
  padding: 0.75rem 0.5rem 0 0;
}

/* hide visually from eyes, but not aurally from screen readers */
.invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  white-space: nowrap;
  width: 1px;
}